<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isColloct</key>
		<true/>
		<key>title</key>
		<string>第一张图片</string>
		<key>image</key>
		<string>image1.jpg</string>
		<key>grayImage</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>smallGrayImage</key>
		<string></string>
	</dict>
	<dict>
		<key>isColloct</key>
		<true/>
		<key>title</key>
		<string>第二张图片</string>
		<key>image</key>
		<string>image2.jpg</string>
		<key>grayImage</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>smallGrayImage</key>
		<string></string>
	</dict>
	<dict>
		<key>isColloct</key>
		<true/>
		<key>title</key>
		<string>第三张图片</string>
		<key>image</key>
		<string>image3.jpg</string>
		<key>grayImage</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>smallGrayImage</key>
		<string></string>
	</dict>
	<dict>
		<key>isColloct</key>
		<true/>
		<key>title</key>
		<string>第四张图片</string>
		<key>image</key>
		<string>image4.jpg</string>
		<key>grayImage</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>smallGrayImage</key>
		<string></string>
	</dict>
	<dict>
		<key>isColloct</key>
		<true/>
		<key>title</key>
		<string>第五张图片</string>
		<key>image</key>
		<string>image5.jpg</string>
		<key>grayImage</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>smallGrayImage</key>
		<string></string>
	</dict>
	<dict>
		<key>isColloct</key>
		<true/>
		<key>title</key>
		<string>第六张图片</string>
		<key>image</key>
		<string>image6.jpg</string>
		<key>grayImage</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>smallGrayImage</key>
		<string></string>
	</dict>
</array>
</plist>
